.wrapper {

  width: 1350px;
  display: inline-block;
  margin-top: 45px;

  .user-info {
    position: relative;
    margin-bottom: 30px;
  }

  img {
    width: 250px;
    height: 250px;
    float: left;
    margin-right: 30px;
  }

  .username {
    //display: block;
    font-size: 28px;
  }

  .misc {
    //display: block;
  }

  nav {
    position: absolute;
    bottom: 0;
    left: 280px;
    //width: 200px;
    div {
      //width: 200px;
      a {
        text-decoration: none;
        display: inline-block;
        width: 200px;
      }

      a.active, a:hover {
        span {
          text-decoration: underline;
        }
      }
    }
  }
}
